@import "bootstrap/scss/bootstrap";

:root {
    --primaryColor: #3b3a48;
    --hrColor: #79798f;
    --effectColor: #7247f0;
    --backgroundColor: #f2f2f2;
}

@import "./home/home";
@import "./aside/aside";
@import "./users/users";
@import "./templates/header";
@import "./pagination/pagination";

body {
    background-color: var(--backgroundColor) !important;
}

.principalBtn {
    background-color: var(--effectColor) !important;
    text-decoration: none;
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
}
